# Dependency directories
node_modules
.npm

# Build outputs
.next
out
dist
build

# Debug and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker config
Dockerfile
.dockerignore
Jenkinsfile
